* {
    border: 1px solid black;
    font-family: Arial,x-locale-body,sans-serif,'宋体';
}

.table-normal ~ table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table-colgroup col:nth-of-type(3n) {
    background-color: pink;
}
.table-colgroup col:nth-of-type(3n-1) {
    background-color: red;
}
.table-colgroup col:nth-of-type(3n-2) {
    background-color: yellow;
}
.table-multiple caption {
    color: #fff;
    background-color: #000;
}
.table-multiple col:last-of-type {
    background-color: rgb(235,235,235);
}
.table-multiple tbody > tr:nth-of-type(2n) {
    background-color: rgb(235,235,235);
}